<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - School Management</title>
    <style>
        body {background-color: powderblue;}
        h1   {color: blue;}
        p    {color: red;}
        </style>
</head>
<body>
    <h1>Welcome to Our School</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/pages/about">About</a>
        <a href="/pages/admissions">Admissions</a>
        <a href="/pages/contact">Contact</a>
        <a href="/pages/gallery">Gallery</a>
      
    </nav>
    <% if (user) { %>
        <span>Welcome, <%= user.username %></span>
        <a href="/auth/logout">Logout</a>
    <% } else { %>
        <a href="/auth/login">Login</a>
        <a href="/auth/register">Register</a>
    <% } %>
</body>
<h1>This is a admissions page</h1>
<h3>
    <pre>
        <!-- <img src="/public/images/School-2.jfif"></img> -->
Applications for the 2025-26 School Year are now open!
We welcome applications from students and families who are excited about Tech Lab School’s mission and eager to contribute to our learning community. Students applying to Kindergarten should be 5 years old by September 1 of the year of entry.
Join us for a tour, open house, or another upcoming Admissions event! Register for events on Ravenna. We look forward to meeting you!

Please contact the admissions office with any questions: admissions@Techlabschool.org
</pre>
</h3>
</html>
